* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

:root {
  --bg-dark: #0f224a;
  --bg-light: #3894ff;
  --bg-medium: #123e80;
  --bg-dominant: #fff;
  --bg-div-1: #edf3fc;
  --bg-div-2: #f0faf1;
  --bg-div-3: #fff4f1;
  --text-light: #fff;
  --text-medium: #3f4e6e;
  --text-dark: #0f224a;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--text-dark);
}

h1 {
  font-size: 48px;
  /* line-height: 68px; */
}

h2 {
  font-size: 36px;
  line-height: 45px;
}

h3 {
  font-size: 30px;
  /* line-height: 38px; */
}

h4 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.7px;
}

p {
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: var(--text-medium);
}

img {
  max-width: 100%;
  height: auto;
}

.small-text {
  font-size: 14px;
  line-height: 17px;
}

.button {
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
.button-light {
  color: var(--text-light);
  background: var(--bg-light);
}

.button-light:hover {
  background: var(--bg-medium);
}

.button-big {
  padding: 14px 40px;
  font-size: 20px;
}

.button-small {
  padding: 10px 20px;
  font-size: 13px;
}

/*********************/
/****** JOIN ******/
/********************/

.join-community {
  height: 7vh;
  /* width: 100vw; */
  background: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.join-community:hover {
  background: var(--bg-medium);
}

/*********************/
/**** NAV/HEADER ****/
/********************/

nav {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  /* width: 100vw; */
}

.logo-container {
  display: flex;
  justify-content: space-around;
  width: 19%;
  margin-left: 32px;
}

.logo-container > .logo {
  max-width: 100%;
  width: 35px;
  height: auto;
  transition: 0.5s;
}

.logo-container > .logo:hover {
  transform: rotate(360deg);
}

.logo-container > .logo-text {
  max-width: 100%;
  width: 170px;
  height: auto;
}

.links-container {
  width: 60%;
}

.links-container > ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 32px;
}

.links-container a {
  color: var(--text-dark);
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
}

.links-container a:hover {
  border-bottom: 1px solid var(--text-dark);
}

/*********************/
/******* HERO *******/
/********************/

.hero-section {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-content {
  width: 512px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* .warehouse-delivery {
  background: url("./images/nice-warehouse-delivery.jpg") no-repeat center
    center;
  background-size: cover; */
/* width: 99vw; */
/* height: 300px;
} */

.warehouse-delivery > img {
  width: 100%;
}

/*********************/
/****** BRANDS ******/
/********************/

.brands-section {
  display: flex;
  height: 40vh;
  align-items: center;
}

.join-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.brands-text {
  margin-bottom: 15px;
}

.brands-logos {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.brands-logo {
  width: 7rem;
}

.brands-figures {
  display: flex;
  width: 50%;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 100px;
  padding: 10px 20px;
  margin-right: 8px;
  border-radius: 10px;
}

.shipped {
  background: var(--bg-div-1);
}
.scan {
  background: var(--bg-div-2);
  padding-bottom: 25px;
}
.retention {
  background: var(--bg-div-3);
}

/*********************/
/****** FEATURES ******/
/********************/

.features-section {
  height: 70vh;
  display: flex;
  align-items: center;
}

.much-more {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.much-more > h2 {
  padding: 0px 48px;
  margin-bottom: 48px;
}

.features-list {
  width: 50%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}

.features-list > div {
  width: 200px;
  height: 100px;
}

.features-list > div > div {
  width: 184px;
  height: 88px;
  border-top: cadetblue 2px solid;
}

.features-list > div > div > h4 {
  text-align: left;
  margin-bottom: 8px;
  margin-top: 18px;
}

.features-list > div > div > p {
  text-align: left;
  line-height: 26px;
}

/*********************/
/**** EXPERIENCE ****/
/********************/

.customer-experience-section {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gif-container {
  width: 50%;
  height: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
}

.gif-container > img {
  max-width: 100%;
  width: 600px;
  height: 320px;
}

.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 20px;
}

.text-container > h2 {
  width: 70%;
  text-align: start;
  margin-top: 110px;
  margin-bottom: 10px;
}

.text-container > p {
  text-align: start;
  margin-top: 20px;
}

/*********************/
/****** GROWTH ******/
/********************/

.growth-section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container {
  height: 40%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.icon {
  /* margin-right: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.growth-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 5px;
}

.inventory {
  background: #dbe6f8;
}

.retention {
  background: #ffe9e1;
}

.return {
  background: #e1f5e3;
}

.icon > div > img {
  width: 42px;
  height: 42px;
}

.icon > h4 {
  margin-top: 20px;
}
